#level {
    background-color: lightblue;
    width: 1200px;
    height: 800px;
  }
  #donna {
    width: 45px;
    height: 50px;
    background-image: url("./sprites/yuji-run-removebg-preview.png");
    /* background-position: 0px 0px; */
    position: relative;
    
  }
  
  .donna {
     animation: play-frames 1s steps(7) infinite;
  
  }
  
  #donna-combo {
    width: 45px;
    height: 50px;
    background-image: url("./sprites/B-Attack.png");
    position: relative;
    
  }
  .donna-combo {
    animation: combo-frames 1s steps(7) infinite;
  }
    
  #leonardo {
    width: 45px;
    height: 50px;
    background-image: url("./sprites/leonardo-walk-removebg-preview.png");
    position: relative;
    
  }
  .leonardo {
  animation: play-leonardo 1s steps(5) infinite;  
  }

  #leo-combo{
    width: 45px ;
    height: 50px;
    background-image: url("./sprites/coup-leo-removebg-preview.png");
    position: relative;
  }

  .leo-combo{
    animation: play leo-combo 2s steps(5) infinite;
  }
  
  
  @keyframes play-leonardo {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: -197px 0px;
    }
  }
  
  @keyframes play-frames {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: -375px 0px;
    }
  }
  
  
  @keyframes combo-frames {
    0% {
      background-position: 0px 0px;
    }
  
    100% {background-position: -375px 0px;}
  }